.designs-container {
    position:absolute;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    height: inherit;
    z-index: 2;
    /* display: none; */

    /* border: 1px solid red; */
    top: 0;

}

.nav-hero-des {
    position: absolute;
    width: auto;
    /* height: 80vh; */
    /* border: 1px dotted green; */
}

.nav-hero-des.left {
    top: 2.5em;
    left: 0.1em;
}

.nav-hero-des.right {
    top: 90vh;
    right: 0px;
    /* height: 80vh; */
    /* border: 1px dotted green; */
}

section {
    position: relative !important;
    background-color: rgba(red, green, blue, 0);
    z-index: 10!important;
}